/* Credentials Link */
#credentials-link {
    width: 100%;
    text-align: center;
}

#credentials-text {
    font-size: 1rem;
    text-decoration: underline;
    color: #000000;
    cursor: pointer;
}
