/* Evite d'afficher le conteneur si pas de message */
#form-validation:empty,
#form-error:empty {
    display: none;
}

#form-validation {
    color: green;
    background-color: #e6ffe6;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.6rem;
}

#form-error {
    color: red;
    background-color: #ffe6e6;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    font-size: 0.9rem;
    text-align: center;
    margin-bottom: 0.6rem;
}
